.screen {
  position: relative;
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  animation: 3s bg-grad linear both 0s running;
}

@keyframes bg-grad {
  0% {
    color: #232323;
    background: #ffffff;
  }
  100% {
    color: #eeeeee;
    background: #232323;
  }
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(600px, 80vw);
  max-height: 100%;
}

.photoList {
  display: grid;
  width: min(500px, calc(100vw - 4rem));
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}

.photo {
  width: 100%;
  animation: 1s photo-color linear both running;
}

@keyframes photo-color {
  0% {
  }
  50% {
    filter: saturate(0);
  }
  75% {
    transform: rotateY(180deg);
  }
  99% {
    transform: rotateY(360deg) scale(1);
    filter: saturate(0.7);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
