.screen {
  position: relative;
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  animation: 3s bg-grad linear both 0s running;
}

@keyframes bg-grad {
  0% {
    color: #232323;
    background: #ffffff;
  }
  100% {
    color: #eeeeee;
    background: #232323;
  }
}

.form {
  position: absolute;
  display: grid;
  grid-gap: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 2s fade-form ease both 2s running;
}

@keyframes fade-form {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.formHeading {
  font-size: 3rem;
  text-align: center;
}

.menuList {
  display: grid;
  grid-template-columns: repeat(2, minmax(40%, 1fr));
  grid-gap: 3rem;
}

.menuItem {
}

.menuLink {
  display: grid;
  grid-template:
    "icon" max-content
    "text" max-content / 1fr;
  justify-content: center;
  font-size: 2rem;
  text-shadow: 0 0 3px;
  padding: 2rem;
  box-shadow: inset 0 0 3px;
  border-radius: 10px;
}
.menuLink:hover {
  text-shadow: 0 0 3px, 0 0 5px;
  box-shadow: inset 0 0 6px;
}

.menuIcon {
  grid-area: icon;
  margin: 0 auto;
  font-size: 2rem;
}
.menuText {
  grid-area: text;
  text-align: center;
}

.photoList {
  display: grid;
  width: min(500px, calc(100vw - 4rem));
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}

.photo {
  width: 100%;
  animation: 1s photo-color linear both running;
}

@keyframes photo-color {
  0% {
  }
  50% {
    filter: saturate(0);
  }
  75% {
    transform: rotateY(180deg);
  }
  99% {
    transform: rotateY(360deg) scale(1);
    filter: saturate(0.7);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
