.area {
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
}

.list {
  display: grid;
}

.item {
  position: relative;
  display: grid;
  grid-template:
    "term" max-content
    "company-and-title" max-content
    "badges" max-content
    "description" max-content / 1fr;
  border-left: 1px solid;
  padding: 0 0 1rem 1rem;
  grid-gap: 0.5rem;
}

.item:last-child {
  border-left: none;
}

.item::before {
  content: "";
  position: absolute;
  display: block;
  background: #777;
  top: 0;
  left: 0;
  width: 1.3em;
  height: 1.3em;
  transform: translate(calc(-50% - 1px), 0);
  z-index: 1;
  border-radius: 50%;

}


.term {
  grid-area: term;
}
.term .span {
  font-size: 1.2em;
}

.companyAndTitle {
  grid-area: company-and-title;
  display: grid;
  grid-template:
    "company" max-content
    "title" max-content / 1fr;
  grid-gap: 0.1rem;
}

.company {
  grid-area: company;
  font-size: 0.9em;
}

.title {
  grid-area: title;
  font-size: 1.1em;
}

.badges {
  grid-area: badges;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.5em;
  font-size: 0.8em;
}

.description {
  grid-area: description;
  font-size: 0.9em;
}
