.loading {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.loading .spinner {
  width: 3rem;
  height: 3rem;
  border-radius: 6px;
  background: var(--default-color);
  opacity: 0.4;
  animation: 3s spinner infinite linear;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile {
  display: grid;
  grid-template:
    "title" max-content
    "name" max-content
    "description" max-content
    "location" max-content
    "certificates" max-content
    "favorites" max-content
    "links" max-content
    ".." 1fr / 1fr;
  grid-gap: 1rem;
}

.title {
  grid-area: title;
  font-size: 2rem;
}

.nameArea {
  grid-area: name;
  display: grid;
  grid-template:
    "photo name" max-content / max-content 1fr;
  grid-gap: 0.5em;
  font-size: 3rem;
  align-items: center;
}

.name {
  grid-area: name;
}

.photo {
  grid-area: photo;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.description {
  grid-area: description;
  font-size: 1.5rem;
}

.location {
  grid-area: location;
}

.certificates {
  grid-area: certificates;
}

.favorites {
  grid-area: favorites;
}

.links {
  grid-area: links;
  font-size: 0.8em;
}

.linkList {
  display: grid;
}

.linkListItem {
  width: max-content;
}

.link {
  display: grid;
  grid-template:
    "image url" max-content / max-content 1fr;
  grid-gap: 0.5em;
  width: max-content;
  align-items: center;
}

.image {
  grid-area: image;
  width: 1em;
  height: 1em;
}

.url {
  grid-area: url;
}

.linkShortName {
  grid-area: short-name;
  display: none;
}

.iconAndContent {
  display: grid;
  grid-template:
    "icon content" max-content / max-content 1fr;
  grid-gap: 1rem;
}

.icon {
  grid-area: icon;
  font-size: 1rem;
}

.content {
  grid-area: content;
}

@media screen and (max-width: 600px) {
  .linkList {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
  .link {
    grid-template:
      "image" max-content
      "short-name" max-content / 1fr;
    box-shadow: inset 0 0 3px;
    padding: 1rem;
    border-radius: 10px;
  }
  .image {
    width: 5rem;
    height: 5rem;
  }
  .url {
    display: none;
  }
  .linkShortName {
    display: block;
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  .image {
    filter: invert(0.7);
  }
}
