.cover {
  position: relative;
  height: 100vh;
  background: url(https://picsum.photos/1920/1080);
  background-size: cover;
}
.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(150%) blur(5px);
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template:
    "header" var(--header-height)
    "main" var(--main-height);
  grid-gap: var(--overall-gap);
}

.header {
  grid-area: header;
}

.widthCoordinated {
  max-width: min(1100px, calc(100vw - 2rem));
  margin: 0 auto;
}

.innerHeader {
  display: grid;
  grid-template: "logo links" max-content / 1fr max-content;
}

.logo {
  grid-area: logo;
  display: grid;
  justify-content: start;
  align-items: center;
  height: var(--header-height);
}

.links {
  grid-area: links;
  display: grid;
  grid-template-columns: repeat(5, max-content);
  grid-gap: 0.5rem;
  overflow-x: auto;
}

.linkItem {
  display: grid;
  align-items: center;
}

.link {
  padding: 0.5em;
  display: grid;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 10px #ffffff, 0 0 12px var(--default-color);
}
.link.active {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.link:hover {
  text-shadow: 0 0 1px var(--default-color), 0 0 10px #ffffff,
    0 0 12px var(--default-color);
}

.main {
  grid-area: main;
  padding: 2rem 0;
  overflow-y: auto;
}

.innerMain {
  height: 100%;
}

@media screen and (max-width: 600px) {
  .innerHeader {
    grid-template: "logo links" max-content / max-content 1fr;
  }
}
