.cover {
  position: relative;
  height: 100vh;
  background: url(https://picsum.photos/1920/1080);
  background-size: cover;
}
.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(150%) blur(5px);
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template:
    "header" var(--header-height)
    "main" var(--main-height);
  grid-gap: var(--overall-gap);
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  padding: 2rem 0;
  overflow-y: auto;
}

.innerMain {
  height: 100%;
}

.widthCoordinated {
  max-width: min(1100px, calc(100vw - 2rem));
  margin: 0 auto;
}
