.frosted {
  position: relative;
  backdrop-filter: brightness(300%) blur(10px);
}

.frostedALittle {
  position: relative;
  backdrop-filter: brightness(110%) blur(10px);
}

.frosted::before,
.frostedALittle::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.3);
}
